/* Text of quote. */
.quote {
    text-decoration: none;
    position: relative;
    opacity: 1 !important;
}

.quote:hover {
    text-decoration: none !important;
}

.quote-text {
    color: #CF5300;
    text-decoration: none !important;
    font-style: normal !important;
    transition-property: color;
    transition-duration: 0.2s;
}

.quote-text:hover {
    opacity: 1 !important;
    color: #999;
    text-decoration: none !important;
    transition: color .2s;
}


/************************************************
    TOOLTIP CONTAINER
    ********************************************/
.tooltip-container {
    opacity: 0;
    position: absolute;
    left: 0px;
    bottom: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0);
    transition-property: opacity;
    transition-duration: .2s;
}

.quote:hover .tooltip-container {
    opacity: 1 !important;
}


/************************************************
    DROPDOWN CONTAINER
    ********************************************/
.dropdown-container {
    background-color: rgba(0, 0, 0, 0);
    top: 100%;
    left: 0px;
    position: absolute;
    z-index: 3;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .2s;
}

.dropdown-container:hover {
    transition: none;
    opacity: 1;
}

/* Show the dropdown when the quote is mouseover-ed. */
.quote:hover .dropdown-container {
    opacity: 1;
}


/************************************************
    DROPDOWN ITEMS
    ********************************************/
.dropdown-item {
    margin-right: 1px;
    padding: 4px 6px;
    font-size: 14px;
    top: 6px;
    text-decoration: none !important;
    font-style: normal !important;
    font-stretch: normal !important;
    position: relative;
    color: #FFFFFF !important;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
    color: #000000 !important;
}

.dropdown-normal {
    background-color: #000000;
}

.dropdown-trusted {
    background-color: #0E752C;
}

.dropdown-untrusted {
    background-color: #910C12;
}


/************************************************
    TOOLTIP ITEM
    ********************************************/
.tooltip {
    text-align: left;
    position: relative;
    margin: 1px;
    width: 300px;
    background-color: #000000;
    padding: 0px 6px;
    color: #fff;
    opacity: 1;
    overflow-x: auto;
}

.tooltip:hover {
    text-decoration: none !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
}

.tooltip-normal {
    background-color: #000000;
}

.tooltip-trusted {
    background-color: #0E752C;
}

.tooltip-untrusted {
    background-color: #910C12;
}

/* Tooltip for name of the source of the quote. */
.tooltip-source {
  line-height: 22px;
  bottom: calc(100% + 45px);
  font-size: 16px;
}

/* Tooltip for date */
.tooltip-date {
  line-height: 20px;
  bottom: calc(100% + 25px);
  font-size: 12px;
}

/* Tooltip on for title of the article the quote came from */
.tooltip-articletitle {
  line-height: 25px;
  bottom: calc(100%);
  font-size: 17px;
}
